jnmmes/ServiceCenter.Client/ServiceCenter.Client.Module.Mvc/Service References/PackageBinTouchForA/ClassifyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TriggerClassify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TriggerClassifyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TriggerClassifyByJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TriggerClassifyByJsonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TriggerClassifyByJsonForMES">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TriggerClassifyByJsonForMESResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>