jnmmes/ServiceCenter.Client/ServiceCenter.Client.Module.Mvc/Service References/PackageBinTouchForA/ClassifyService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClassifyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="tcpService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://gf_00172_qnrzg2:8731/ClassifyService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://gf_00172_qnrzg2:8731/ClassifyService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClassifyContract_TriggerClassify_InputMessage">
    <wsdl:part name="parameters" element="tns:TriggerClassify" />
  </wsdl:message>
  <wsdl:message name="IClassifyContract_TriggerClassify_OutputMessage">
    <wsdl:part name="parameters" element="tns:TriggerClassifyResponse" />
  </wsdl:message>
  <wsdl:message name="IClassifyContract_TriggerClassifyByJson_InputMessage">
    <wsdl:part name="parameters" element="tns:TriggerClassifyByJson" />
  </wsdl:message>
  <wsdl:message name="IClassifyContract_TriggerClassifyByJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:TriggerClassifyByJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IClassifyContract_TriggerClassifyByJsonForMES_InputMessage">
    <wsdl:part name="parameters" element="tns:TriggerClassifyByJsonForMES" />
  </wsdl:message>
  <wsdl:message name="IClassifyContract_TriggerClassifyByJsonForMES_OutputMessage">
    <wsdl:part name="parameters" element="tns:TriggerClassifyByJsonForMESResponse" />
  </wsdl:message>
  <wsdl:portType name="IClassifyContract">
    <wsdl:operation name="TriggerClassify">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassifyContract/TriggerClassify" message="tns:IClassifyContract_TriggerClassify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassifyContract/TriggerClassifyResponse" message="tns:IClassifyContract_TriggerClassify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TriggerClassifyByJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassifyContract/TriggerClassifyByJson" message="tns:IClassifyContract_TriggerClassifyByJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassifyContract/TriggerClassifyByJsonResponse" message="tns:IClassifyContract_TriggerClassifyByJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TriggerClassifyByJsonForMES">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassifyContract/TriggerClassifyByJsonForMES" message="tns:IClassifyContract_TriggerClassifyByJsonForMES_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassifyContract/TriggerClassifyByJsonForMESResponse" message="tns:IClassifyContract_TriggerClassifyByJsonForMES_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="httpService" type="tns:IClassifyContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TriggerClassify">
      <soap:operation soapAction="http://tempuri.org/IClassifyContract/TriggerClassify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TriggerClassifyByJson">
      <soap:operation soapAction="http://tempuri.org/IClassifyContract/TriggerClassifyByJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TriggerClassifyByJsonForMES">
      <soap:operation soapAction="http://tempuri.org/IClassifyContract/TriggerClassifyByJsonForMES" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tcpService" type="tns:IClassifyContract">
    <wsp:PolicyReference URI="#tcpService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="TriggerClassify">
      <soap12:operation soapAction="http://tempuri.org/IClassifyContract/TriggerClassify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TriggerClassifyByJson">
      <soap12:operation soapAction="http://tempuri.org/IClassifyContract/TriggerClassifyByJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TriggerClassifyByJsonForMES">
      <soap12:operation soapAction="http://tempuri.org/IClassifyContract/TriggerClassifyByJsonForMES" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClassifyService">
    <wsdl:port name="httpService" binding="tns:httpService">
      <soap:address location="http://gf_00172_qnrzg2:8731/" />
    </wsdl:port>
    <wsdl:port name="tcpService" binding="tns:tcpService">
      <soap12:address location="net.tcp://gf_00172_qnrzg2:8735/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://gf_00172_qnrzg2:8735/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>